@font-face {
  font-family: 'Calluna-Regular';
   src: url('Calluna-Regular-webfont.woff2') format('woff2'),
        url('Calluna-Regular-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
* {
 font-family: Calluna-Regular;

   box-sizing: border-box;
}
.error{
  color: red;
}
.App{
 color: #141B29 !important;
 text-align: center;
   background: #EDC7B4;
   margin: auto;
   padding: 15px;
   width: 70%;
   height: auto;
   border-radius: 20px;
   margin-top: 20px;
 box-shadow: 1px 1px 30px grey;
}

h1 {
   text-align: center;
   background: #EDC7B4;
   width: 95%;
   margin: auto;
   padding: 20px;
}
input[type=text], select, textarea {
 box-shadow: 1px 1px 2px grey;
 width: 100%;
 padding: 12px;
 border: 1px solid #ccc;
 border-radius: 4px;
 resize: vertical;
 font-size: 15px;
}
.col-40 {
 float: left;
 width: 40%;
 margin-top: 6px;
 margin-right: 10px;
}
.col-20 {
 float: left;
 width: 16%;
 margin-top: 6px;
 margin-right: 10px;
}
.row{
 border-radius: 5px;
   background-color: #F8F7F4;
   padding: 20px;
   width: 95%;
   text-align: center;
   margin: auto;
   
   margin-bottom: 40px;
   box-shadow: 0px 5px 5px grey;
}
.row:after {
 content: "";
 display: table;
 clear: both;
}
.weather-update {
   text-align: center;
   background: #EDC7B4;
   margin: auto;
   padding: 15px;
   width: 80%;
   height: auto;
}
h3{
 font-size: 80px;
   margin: auto;
}

button {
 box-shadow: 1px 1px 2px grey;
     background-color: #984673;
   color: white;
   padding: 12px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   float: right;
   width: 100%;
   font-size: 15px;
}

button:hover {
 box-shadow: 1px 1px 5px grey;
 background-color: #82335e;
}
p {
  font-size: 18px;
  margin: 5px;
}

@media screen and (max-width: 1250px) {
  .col-20, .col-40 {
    width: 30%;
  }
  button{
    width: 100%;
  }
  h3{
    font-size: 45px;
  }
 }
 
@media screen and (max-width: 600px) {
 .col-20, .col-40, button {
   width: 100%;
   margin-bottom: 5px;
   margin-top: 0;
 }
}